<?xml version="1.0" encoding="utf-8"?>
<launch>

  <node name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen">
    <rosparam file="$(find third_arm)/config/arbotix.yaml" command="load" />
  </node>



    <!-- Start Vision Nodes -->

    <include file="$(find freenect_launch)/launch/examples/freenect-registered-xyzrgb.launch"/>

    <include file="$(find rbx1_vision)/launch/camshift.launch"/>
    
    <include file="$(find rbx1_vision)/launch/camshift2.launch"/>

    <include file="$(find rbx1_vision)/launch/pos_calculator.launch"/>

    <node name="third_arm_kinect" pkg="third_arm" type="closed_loop_vision.py" output="screen"/>

</launch>
