<?xml version="1.0"?>

<robot name="third_arm_v1">

  <!-- Third Arm Model I has 3 joints, need many more links to make the model -->

  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy ="1.5708 0 0"/>
      <material name="Grey">
      <color rgba="0.3 0.3 0.3 1.0"/>
      </material>
      <geometry>
        <cylinder length="0.2" radius="0.07" />
      </geometry>
    </visual>
  </link>

  <link name="block_to_base">
    <visual>
		<origin xyz="0 0 0" rpy ="0 1.5708  0"/>
      <material name="Gray">
       <color rgba="0.3 0.3 0.3 1.0"/>
      </material> 	
      <geometry>
        <box size="0.08 0.09 .09"/>
      </geometry>
    </visual>
  </link>

  <joint name="brace_block_link" type="fixed">
  	<origin xyz="0 -0.035 -0.07" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="block_to_base"/>
  </joint>


  <link name="base_motor">
  	<inertial>
  		<origin xyz="0 0 0" rpy ="0 0 0"/>
  		<mass value="1"/>
  		<inertia ixx="100"  ixy="0"  ixz="0" iyy="100" iyz="0" izz="100" />
  	</inertial>
    <visual>
		<origin xyz="0 0 0" rpy ="0 0  0"/>
      <material name="Yellow">
       <color rgba="1.0 1.0 0.0 1.0"/>
      </material> 	
      <geometry>
        <cylinder length="0.05" radius="0.06"/>
      </geometry>
    </visual>
  </link>


  <joint name="base_to_motor1" type="revolute">
  	<axis xyz="0 0 1"/>
  	<limit lower="-1.5708" upper="1.5708" effort="10" velocity="0.314"/>
  	<origin xyz="0 0 -0.07" rpy="0 0 0" />
    <parent link="block_to_base"/>
    <child link="base_motor"/>
  </joint>



  <link name="extend_link1">
    <visual>
		<origin xyz="0 0 0" rpy ="0 0 0"/>
      <material name="Blue">
       <color rgba="0 0.0 1.0 0.7"/>
      </material> 	
      <geometry>
        <box size="0.06 .24 .06"/>
      </geometry>
    </visual>
  </link>

  <joint name="motor1_to_extend1" type="fixed">
  	<origin xyz="0 0.18 0" rpy="0 0 0" />
    <parent link="base_motor"/>
    <child link="extend_link1"/>
  </joint>

  <link name="extend_link2">
    <visual>
		<origin xyz="0 0 0" rpy ="0 0 0"/>
      <material name="Blue2">
       <color rgba="0.2 0.2 1.0 1.0"/>
      </material> 	
      <geometry>
        <box size="0.045 .20 .045"/>
      </geometry>
    </visual>
  </link>

  <joint name="extension" type="prismatic">
  	<axis xyz="0 1 0"/>
  	<limit lower="0" upper="0.15" effort="10" velocity="5"/>
  	<origin xyz="0 0.07 0" rpy="0 0 0" />
    <parent link="extend_link1"/>
    <child link="extend_link2"/>
  </joint>


  <link name="wrist_plate">
    <visual>
		<origin xyz="0 0 0" rpy ="0 0 0"/>
      <material name="Blue">
       <color rgba="0.0 0.0 1.0 1.0"/>
      </material> 	
      <geometry>
        <box size="0.07 .02 .07"/>
      </geometry>
    </visual>
  </link>

  <joint name="wrist_motor_to_plate" type="fixed">
  	<origin xyz="0 0.1 0" rpy="0 0 0" />
    <parent link="extend_link2"/>
    <child link="wrist_plate"/>
  </joint>

  <link name="gripper_motor">
  	<inertial>
  		<origin xyz="0 0 0" rpy =" 1.5708 0  0"/>
  		<mass value="1"/>
  		<inertia ixx="100"  ixy="0"  ixz="0" iyy="100" iyz="0" izz="100" />
  	</inertial>
    <visual>
		<origin xyz="0 0 0" rpy ="0 0 0"/>
      <material name="Yellow">
       <color rgba="1.0 1.0 0.0 1.0"/>
      </material> 	
      <geometry>
        <cylinder length="0.07" radius="0.01"/>
      </geometry>
    </visual>
  </link>

  <joint name="gripper_motor_to_plate" type="fixed">
  	<origin xyz="0 0.02 0" rpy="0 0 0" />
    <parent link="wrist_plate"/>
    <child link="gripper_motor"/>
  </joint>

  <link name="finger1">
  	<inertial>
  		<origin xyz="0 0.06 0" rpy =" 0 0  0"/>
  		<mass value="1"/>
  		<inertia ixx="100"  ixy="0"  ixz="0" iyy="100" iyz="0" izz="100" />
  	</inertial>  	
    <visual>
		<origin xyz="0 0.06 0" rpy ="0 0 0"/>
      <material name="Orange1">
       <color rgba="1.0 0.65 0.0 1.0"/>
      </material> 	
      <geometry>
        <box size="0.01 .1 .02"/>
      </geometry>
    </visual>
  </link>

  <joint name="finger1_to_gripper_motor" type="revolute">
  	<axis xyz="0 0 1"/>
  	<limit lower="0" upper="1" effort="5" velocity="0.5"/>
  	<origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="gripper_motor"/>
    <child link="finger1"/>
  </joint>

  <link name="finger2">
  	<inertial>
  		<origin xyz="0 0.06 0" rpy =" 0 0  0"/>
  		<mass value="1"/>
  		<inertia ixx="100"  ixy="0"  ixz="0" iyy="100" iyz="0" izz="100" />
  	</inertial>
    <visual>
		<origin xyz="0 0.06 0" rpy ="0 0 0"/>
      <material name="Orange2">
       <color rgba="1.0 0.55 0.0 1.0"/>
      </material> 	
      <geometry>
        <box size="0.01 .1 .02"/>
      </geometry>
    </visual>
  </link>

  <joint name="finger2_to_gripper_motor" type="revolute">
  	<axis xyz="0 0 1"/>
  	<limit lower="-1" upper="0" effort="5" velocity="0.5"/>
  	<origin xyz="0 0 0" rpy="0 0 0" />
  	<mimic joint="finger1_to_gripper_motor" multiplier="-1" />
    <parent link="gripper_motor"/>
    <child link="finger2"/>
  </joint>

</robot>